body, html {
  height: 100%;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

.hero-image {
  background-image: url("images/chooka.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  /*filter: blur(8px) opacity(75%);*/
  /*filter: grayscale(100%) blur(0);*/
  position: relative;
}

.nav {
  height: 50px;
  width: 500px;
  position: absolute;
  right: 50px;
  top: 25px;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul:hover,
.contact ul:hover {
  color: #d63657;
}

.nav li {
  display: inline-block;
  font-family: "Anton";
  font-size: 25px;
  /*color: white;*/
}

.nav li:hover,
.contact li:hover {
  color: #fff;
  cursor: pointer;
}

.you-are-here {
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px;
}

.bottom-corner {
  height: 400px;
  width: 250px;
  /*background-color: #fff;*/
  position: absolute;
  left: 25px;
  bottom: 25px;
  background: rgba(70, 72, 82, 0.5);
  border-radius: 25px;
  padding-left: 25px;
}

.bottom-corner p {
  font-family: "Anton";
  /*font-weight: bold;*/
  font-size: 40px;
  /*color: #fff;*/
}

.contact {
  height: 375px;
  width: 250px;
  /*background-color: #fff;*/
  position: absolute;
  right: 25px;
  bottom: 25px;
  background: rgba(70, 72, 82, 0.5);
  border-radius: 25px;
  padding: 25px;
}

.contact ul {
  font-family: "Anton";
  /*font-weight: bold;*/
  font-size: 35px;
  /*color: #fff;*/
}
